<div class="collapsible-wrap course-results no-pad">
    <input type="checkbox" id="collapsible-{{ouNumber}}" checked>
    <label for="collapsible-{{ouNumber}}" class="check-collapse">
        <a href="/d2l/home/{{ouNumber}}" class="results-course-title" target="_blank">
            {{courseName}}
        </a>
        <span class="OU">{{pages.length}}</span>
        <span class="count">{{ouNumber}}</span>
    </label>
    <div id="course-results-{{ouNumber}}" class="collapsible-{{ouNumber}}-area">
        <!-- Results for the course go here -->
    </div>
</div>
