{{#each this}}
<div class="flex course" id="{{ouNumber}}-OU">
    <input class="deleteCourseButton" id="delete{{ouNumber}}" type="button" />
    <span class="course-title">{{statusName}}</span>
    <span class="spacer"></span>
    <span class="status-{{status}}">{{status}}</span>
</div>
{{/each}}
