{{#each this}}
<div class="flex course" id="{{ouNumber}}-OU">
    <img src="/resources/minus.png" class="deleteCourseButton" id="delete{{ouNumber}}" />
    <span class="course-title">{{statusName}}</span>
    <span class="status-{{status}}">{{status}}</span>
</div>
{{/each}}
